@import './variables';
@import './mixins';

.form {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  max-width: 90%;
  margin: 0 auto;

  &__header {
    color: $primary-color;
    margin-bottom: 10px;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }

  &__input, &__select {
    @include input-base;
  }

  &__button {
    @include button-base($primary-color, darken($primary-color, 10%));
    margin-bottom: 10px;

    &--disabled {
      background-color: grey;
      cursor: not-allowed;
      pointer-events: none;
    }

    &--primary {
      @include button-base($primary-color, darken($primary-color, 10%));
    }
  }

  &__error {
    color: $error-color;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0;

    &--active {
      display: block;
    }

    &--hidden {
      display: none;
    }
  }
}
